/* Global styles (for every page) */

/* Root Variables */
html {
    --base-color: #3E3E3E;
    --primary-color: #FFCE8E;
    --accent: #2DA1AB;
    --text-color: #3E3E3E;
    --description-text-color: #727578;
    --button-text-color: white;
    --debug-color: #AB2D9A;
    --base-font-size: 16px;
    font-size: var(--base-font-size);
}

/* Utility Classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    /* hide element visually without affecting DOM layout */
    /* remaining accessible to screen readers and assistive technologies */
}

.has-debug-outline {
    /* background-color: #f8f8f8; */
    border: dotted 2px var(--debug-color);
}

/* Reset Browser Default Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.4;
}

/* ------------------------------------------- */
/* Page (Body) Layout Structure */
body {
    display: grid;
    /* 4+2 columns for mobile */
    grid-template-columns: 2rem repeat(4, 1fr) 2rem;
    grid-template-rows: 6rem auto 6rem;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

main {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    display: grid;
    /* Inherits Grid from <body> */
    grid-template-columns: subgrid;
    grid-template-rows: auto 8rem auto 8rem auto 8rem auto;
    gap: 1rem;
    min-height: calc(100vh - 100px - 1.5rem);
    justify-content: center;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    display: grid;
    /* Inherits Grid from <body> */
    grid-template-columns: subgrid;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 200px;
}

/* ------------------------------------------- */
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* Currently not working due to stacking context */

    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0.5rem 0;
    width: 100vw;
    max-height: 6rem;

    display: grid;
    /* 4+2 columns for mobile */
    grid-template-columns: 2rem repeat(4, 1fr) 2rem;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;

    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);

    color: var(--text-color);
}

header > a {
    /* LOGO anchor */
    grid-column: 2 / 4;
    display: inline-block;
}

.logo {
    max-width: 20px;
}

/* Header > Navigation */
#main-nav {
    grid-column: 5 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Header > Navigation > Hamburger Button */
#checkbox {
    display: none;
}

#checkbox:checked~#nav-menu {
    left: 0;
    transition: all 0.75s;
}

#checkbox-label {
    cursor: pointer;
}

#nav-svg {
    display: block;
    width: 2rem;
    fill: var(--base-color);
}

#nav-menu {
    position: fixed;
    top: 80px; /* To-Do: Fix later (header stacking context is independent from nav-menu) */
    left: 200vw;
    z-index: 2; /* Currently not working due to stacking context */

    padding: 2rem 0;
    width: 100vw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 2.5rem;

    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    transition: all 0.75s;
}

.menu-item {
    display: block;
}

.menu-item a {
    padding: 0.5rem 0.8rem;
    border-style: none;
    border-radius: 1.5rem;

    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
}

.menu-item.current a {
    color: var(--accent);
}



/* ------------------------------------------- */
/* Content elements */
img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 6rem;
    line-height: normal;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    color: var(--text-color);
}

.text {
    font-size: 1.25rem;
    line-height: 1.8;
    color: var(--description-text-color);
}

.big-text {
    font-size: 2.18rem;
    font-weight: 600;
    color: var(--text-color);
}

button {
    border-style: none;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: #3E3E3E;
    color: white;
    font-size: 1.1rem;
    line-height: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--accent);
    letter-spacing: 0.25rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

label { 
    text-decoration: underline;
}

hr {
    grid-column: 1 / 5;
    grid-row: 2;
    align-self: center;
    border-color: #D9D9D9;
    background-color: #D9D9D9;
    margin: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

/* ------------------------------------------- */
/* Media Queries for Page Layouts */

/* Tablet View */
@media screen and (min-width: 768px) {

    /* ------------------------------------------- */
    /* Page (Body) Layout Structure */
    body {
        /* 8+2 columns for tablets */
        grid-template-columns: 2fr repeat(8, 1fr) 2fr;
    }

    main {
        grid-column: 2 / 10;
    }

    /* ------------------------------------------- */
    /* Header */
    header {
        /* 8+2 columns for tablets */
        grid-template-columns: 2fr repeat(8, 1fr) 2fr;
    }

    header > a {
        /* LOGO anchor */
        grid-column: 2 / 4;
    }

    /* Header > Navigation */
    #main-nav {
        grid-column: 9 / 10;
    }

    #checkbox:checked~#nav-menu {
        left: 60vw;
        transition: all 0.75s;
    }

    #nav-menu {
        top: 80px; /* To-Do: Fix later (header stacking context is independent from nav-menu) */
        left: 140vw;

        padding: 2rem 0;
        width: 40vw;
        height: 100dvh;

        transition: all 0.75s;
    }

    hr {
        grid-column: 1 / 10;
    }
}

/* Desktop View */
@media screen and (min-width: 992px) {
    /* ------------------------------------------- */
    /* Page (Body) Layout Structure */
    body {
        /* 10+2 columns for desktop */
        grid-template-columns: minmax(2rem, 4fr) repeat(10, minmax(1rem, 6rem)) minmax(2rem, 4fr);
        grid-template-rows: 12rem auto 6rem;
    }

    main {
        grid-column: 2 / 12;
        min-height: calc(100vh - 800px - 1.5rem);
    }

    /* -------- */
    /* ------------------------------------------- */
    /* Header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3; /* Currently not working due to stacking context */

        padding: 0.5rem 0;
        width: 100vw;
        max-height: 6rem;

        display: grid;
        /* 10+2 columns for desktop */
        grid-template-columns: minmax(2rem, 4fr) repeat(10, minmax(1rem, 6rem)) minmax(2rem, 4fr);
        grid-template-rows: minmax(1rem, 4rem);
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }

    header > a {
        /* LOGO anchor */
        grid-column: 2 / 4;
    }

    /* Header > Navigation */
    #main-nav {
        grid-column: 5 / 12;
        display: grid;
        grid-template-columns: subgrid;
        min-height: 1.5rem;

    }

    .menu-item a {
        padding: 0.5rem 0.8rem;
        border-style: none;
        border-radius: 1.5rem;
        position: relative; /* Position relative for pseudo-element */
        display: inline-block; /* Ensure the anchor takes the width of its content */
    
        font-size: 1.25rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
    }
    
    
    .menu-item a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; /* Adjust this value to position the line */
        width: 100%; /* Make the line adapt to the width of the anchor */
        height: 2px; /* Thickness of the line */
        background-color: transparent; /* Initial color of the line */
        transition: width 0.3s ease;

    }

    .menu-item a:hover::after {
        background-color: #2DA1AB; /* Color of the line on hover */
    }

    /* Header > Navigation > Hamburger Button */
    #checkbox {
        display: none;
    }

    #checkbox-label {
        display: none;
    }

    #nav-svg {
        display: none;
    }

    #nav-menu {
        grid-column: 1 / -1;
        position: static;

        padding: 1rem 0;
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;

        transition: all 0.75s;
    }

    hr {
        grid-column: 1 / 11;
    }
}

/* Big Desktop View */
@media screen and (min-width: 1408px) {
    /* ------------------------------------------- */
    /* Page (Body) Layout Structure */
    body {
        /* 12+2 columns for desktop */
        grid-template-columns: minmax(2rem, 4fr) repeat(12, minmax(1rem, 6rem)) minmax(2rem, 4fr);
        grid-template-rows: 12rem auto 10rem;
    }

    main {
        grid-column: 2 / 14;
        min-height: calc(100vh - 700px - 1.5rem);
    }

    hr {
        grid-column: 1 / 13;
    }

    /* -------- */
    /* ------------------------------------------- */
    /* Header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3; /* Currently not working due to stacking context */

        padding: 0.5rem 0;
        width: 100vw;
        max-height: 6rem;

        display: grid;
        /* 12+2 columns for desktop */
        grid-template-columns: minmax(2rem, 4fr) repeat(12, minmax(1rem, 6rem)) minmax(2rem, 4fr);
        grid-template-rows: minmax(1rem, 4rem);
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }

    header > a {
        /* LOGO anchor */
        grid-column: 2 / 4;
    }

    /* Header > Navigation */
    #main-nav {
        grid-column: 5 / 14;
        display: grid;
        grid-template-columns: subgrid;
        min-height: 1.5rem;
    }

    /* Header > Navigation > Hamburger Button */
    #checkbox {
        display: none;
    }

    #checkbox-label {
        display: none;
    }

    #nav-svg {
        display: none;
    }

    #nav-menu {
        grid-column: 1 / -1;
        position: static;

        padding: 1rem 0;
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;

        transition: all 0.75s;
    }

    .menu-item a {
        padding: 0.5rem 0.8rem;
        border-style: none;
        border-radius: 1.5rem;
        position: relative; /* Position relative for pseudo-element */
    
        font-size: 1.25rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
    }
    
    .menu-item a::after {
        content: '';
        position: absolute;
        bottom: 0; /* Position the line at the bottom of the anchor */
        left: 50%; /* Position the line at the center horizontally */
        transform: translateX(-50%); /* Adjust for centering */
        width: 40%; /* Adjust the width of the line */
        height: 2px; /* Thickness of the line */
        background-color: transparent; /* Initial color of the line */
        transition: width 0.5s ease; /* Transition for width change */
    }

    .menu-item a:hover::after {
        background-color: #2DA1AB; /* Color of the line on hover */
        width: 70%; /* Adjust the width of the line */
    }

    hr {
        grid-column: 1 / 13;
    }

    
}