/* Global styles (for every page) */

/* Reset Browser Default Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.4;
}

/* Page Sections */
header, main, aside, footer {
    background-color: #f8f8f8;
    border: dotted 2px rgb(0, 149, 255);
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    min-height: 100vh;
}

header, footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

header {
    height: 100px;
}

main {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.5rem;
    min-height: calc(100vh - 100px - 1.5rem);
}

aside {
    grid-column: 10 / 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    min-height: calc(100vh - 100px - 1.5rem);
}

footer {
    height: 200px;
}

/* Subsections in the main section */
main section {
    grid-column: 1 / -1;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.5rem;
}

/* Content elements */
img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
    line-height: normal;
}

.text {
    font-size: 1.25rem;
}

.big-text {
    font-size: 2rem;
}

button {
    border-style: none;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: #3E3E3E;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(18, 143, 189);
    letter-spacing: 0.25rem;
    transition: all 0.3s ease;
}