/* Styles that are only for the Homepage (index.html) */

#hero {
    grid-column: 1 / -1;
    height: fit-content;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    justify-content: center;
}

#hero-img {
    grid-column: 2 / 4;
    justify-self: center;
    min-width: 200px;
    max-width: 320px;
}

#hero-textbox {
    grid-column: 1 / -1;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 6rem auto auto 3rem 1fr;
    gap: 1.5rem;
    text-align: center;
}

#hero-textbox > h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: start;
}

#hero-textbox > .big-text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#hero-textbox > p {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    max-width: 48ch;
}

#hero-textbox > button {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-self: center;
    max-width: 12rem;
}

/* Tablet View */
@media screen and (min-width: 768px) {
    #hero-img {
        grid-column: 3 / 7; 
    }

    #hero-textbox {
        grid-column: 1 / -1; 
    }
}

/* Laptop/Desktop View */
@media screen and (min-width: 992px) {
    #hero-img {
        justify-self: right;
        grid-column: 8 / 13;
        min-width: 380px;
    }

    #hero-textbox {
        grid-row: 1 / 2;
        grid-column: 1 / 7;
        text-align: left;
    }

    #hero-textbox > button {
        justify-self: start;
    }
}

/* Big Desktop View */
@media screen and (min-width: 1408px) {
    #hero-img {
        justify-self: right;
        grid-column: 9 / 12; 
        min-width: 380px;
    }

    #hero-textbox {
        grid-row: 1 / 2;
        grid-column: 2 / 8; 
        text-align: left;
    }

    #hero-textbox > button {
        justify-self: start;
    }
}