/* Styles that are only for the Homepage (index.html) */

/* ---------------------------------------------------------- */
/* Hero Section */
#hero {
    grid-column: 1 / -1;
    height: fit-content;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    justify-content: center;
}

/* Hero Section Image */
#hero-img-box {
    grid-column: 1 / 5;
    justify-self: center;
    display: flex;
    justify-content: center;
}

#hero-img {
    min-width: 205px;
    max-width: 1026px;
    animation-duration: 2s;
}

/* Hero Section Text */
#hero-textbox {
    grid-column: 1 / -1;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 6rem auto auto 3rem 1fr;
    gap: 1.5rem;
    text-align: center;
}

#hero-textbox > h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: start;
}

#hero-textbox > .big-text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#hero-textbox > p {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    max-width: 48ch;
}

/* Hero Section CTA */
#hero-textbox > button {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-self: center;
    max-width: 20rem;
    animation-duration: 1.3s;
}

.button-hero {
    animation-delay: 0.7s;
    animation-duration: 1.3s;
}

#hr-1 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

/* ---------------------------------------------------------- */
/* Project 1 section (second section) */
#project-1 {
    grid-column: 1 / -1;
    grid-row: 3;
    height: fit-content;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Project 1 section image */
#project-1-img-box {
    grid-column: 2 / 6;
    justify-self: center;
    display: flex;
    justify-content: center;
}

/* Project 1 section text */
#description-1 {
    grid-row: 2 / 5;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto 3rem 1fr;
    gap: 1rem;
    text-align: center;
}

#description-1 > h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: center;
}

#description-1 > p {
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: 1rem;
    max-width: 40ch;
    justify-self: center;
}

/* Project 1 section tags */
#description-1 > .label {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 14px;

}

#description-1 > h2 {
    animation-delay: 1s;
}

#description-1 > p {
    animation-delay: 1s;
}


.tag-1, .tag-2, .tag-3, .tag-4 {
    text-decoration: solid;
    border-radius: 20px;
    background-color: #F1F2F6;
    color: var(--description-text-color);
    margin: 0.3rem;
    padding: 0.5rem 1rem; 
    display: inline-block;
}

.tag-1 {
    animation-delay: 1.3s;
    animation-duration: 2s;
}

.tag-2 {
    animation-delay: 1.6s;
    animation-duration: 2s;
}

.tag-3 {
    animation-delay: 1.9s;
    animation-duration: 2s;
}

.tag-4 {
    animation-delay: 2.2s;
    animation-duration: 2s;
}

/* Project 1 section button */
#description-1 > button {
    grid-column: 1 / -1; 
    grid-row: 4;
    justify-self: center;
    max-width: 12rem;
    animation-delay: 0.8s;
    animation-duration: 1.3s;
}


#hr-2 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}

/* ---------------------------------------------------------- */
/* Project 2 section (third section) */
#project-2 {
    grid-column: 1 / -1;
    grid-row: 5;
    height: fit-content;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Project 1 section image */
#project-2-img-box {
    grid-column: 7 / -1;
    justify-self: center;
    display: flex;
    justify-content: center;
}

/* Project 1 section text */
#description-2 {
    grid-row: 1 / 7;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto 3rem 1fr;
    gap: 1rem;
    text-align: center;
}

#description-2 > h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: center;
}

#description-2 > p {
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: 1rem;
    max-width: 40ch;
    justify-self: center;
}

/* Project 1 section tags */
#description-2 > .label {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 14px;

}

/* Project 1 section button */
#description-2 > button {
    grid-column: 1 / -1; 
    grid-row: 4;
    justify-self: center;
    max-width: 12rem;
    animation-delay: 0.8s;
    animation-duration: 1.3s;
}

#hr-3 {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
}

/* ---------------------------------------------------------- */
/* Project 3 section (4th section) */
#project-3 {
    grid-column: 1 / -1;
    grid-row: 7;
    height: fit-content;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Project 3 section image */
#project-3-img-box {
    grid-column: 2 / 6;
    justify-self: center;
    display: flex;
    justify-content: center;
}

/* Project 3 section text */
#description-3 {
    grid-row: 2 / 5;
    justify-self: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto 3rem 1fr;
    gap: 1rem;
    text-align: center;
}

#description-3 > h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: center;
}

#description-3 > p {
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: 1rem;
    max-width: 40ch;
    justify-self: center;
}

/* Project 3 section tags */
#description-3 > .label {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 14px;

}

/* Project 3 section button */
#description-3 > button {
    grid-column: 1 / -1; 
    grid-row: 4;
    justify-self: center;
    max-width: 12rem;
    animation-duration: 1.3s;
}

/* ---------------------------------------------------------- */
/* Tablet View */
@media screen and (min-width: 768px) {
    #hero-img-box {
        grid-column: 3 / 7;
    }

    #hero-textbox {
        grid-column: 1 / -1; 
    }

    #hr-1, #hr-2, #hr-3 {
        grid-column: 1 / 10;
    }

    /* Footer */
    #footer-heading,
    footer > nav,
    #SNS,
    #footer-hr,
    #copyright-text {
        grid-column: 2 / 10;
    }
}

/* ---------------------------------------------------------- */
/* Laptop/Desktop View */


@media screen and (min-width: 992px) {
    #hero-img-box {
        justify-self: right;
        grid-column: 6 / 12;
        justify-content: flex-end;
    }

    #hero-img {
        height: fit-content;
    }

    #hero-textbox {
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        text-align: left;
    }

    #hero-textbox > button {
        justify-self: start;
    }

    #hr-1, #hr-2, #hr-3 {
        grid-column: 2 / 12;
    }

    #project-1 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 3; /* Place it below hero */
        display: grid;
    }

    #project-1-img-box {
        grid-column: 1 / 6; /* Adjust grid column span */
        justify-self: left; /* Align image to the left */
    }

    #description-1 {
        grid-column: 6 / 11; /* Adjust grid column span */
        grid-row: 1 / 2;
        align-self: start; /* Align text to the top */
    }

    #project-2 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 5; /* Place it below hero */
        display: grid;
    }

    #project-2-img-box {
        grid-column: 6 / -1; /* Adjust grid column span */
        justify-self: left; /* Align image to the left */
    }

    #description-2 {
        grid-column: 1 / 6; /* Adjust grid column span */
        grid-row: 1 / 2;
        align-self: start; /* Align text to the top */
    }

    #project-3 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 7; /* Place it below hero */
        display: grid;
    }

    #project-3-img-box {
        grid-column: 1 / 6; /* Adjust grid column span */
        justify-self: left; /* Align image to the left */
    }

    #description-3 {
        grid-column: 6 / 11; /* Adjust grid column span */
        grid-row: 1 / 2;
        align-self: start; /* Align text to the top */
    }

    /* Footer */
    #footer-heading,
    footer > nav,
    #SNS,
    #footer-hr,
    #copyright-text {
        grid-column: 2 / 12;
    }
}

/* ---------------------------------------------------------- */
/* Big Desktop View */
@media screen and (min-width: 1408px) {
    #hero-img-box {
        justify-self: right;
        grid-column: 8 / 12;
        justify-content: flex-end;
    }

    #hero-img {
        min-width: 205px;
        max-width: 1026px;
    }

    #hero-textbox {
        grid-row: 1 / 2;
        grid-column: 2 / 8; 
        text-align: left;
    }

    #hero-textbox > button {
        justify-self: start;
    }

    #project-1 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 3; /* Place it below hero */
        display: grid;
    }

    #project-1-img-box {
        grid-column: 1 / 7; /* Adjust grid column span */
        justify-self: left; /* Align image to the left */
        grid-template-columns: subgrid;
    }


    #description-1 {
        grid-column: 7 / 13;
        justify-self: center;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: 2rem 2rem 5rem 2rem 1rem 3rem;
        gap: 1rem;
        text-align: center;
    }
    
    #description-1 > h2 {
        font-size: 2.18rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: center;
        color: var(--text-color);
    }
    
    #description-1 > p {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        max-width: 40ch;
        justify-self: center;
        font-size: 1.2rem;
    }

    #description-1 > .label {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: space-around;
        font-size: 14px;

    }
    
    #description-1 > button {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        justify-self: center;
        max-width: 12rem;
    }

    #project-2 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 5 / 6; /* Place it below hero */
        display: grid;
    }

    #project-2-img-box {
        grid-column: 7 / 13; /* Adjust grid column span */
        
        justify-self: left; /* Align image to the left */
        grid-template-columns: subgrid;
    }


    #description-2 {
        grid-column: 1 / 7;
        justify-self: center;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: 2rem 2rem 5rem 2rem 1rem 3rem;
        gap: 1rem;
        text-align: center;
    }
    
    #description-2 > h2 {
        font-size: 2.18rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: center;
        color: var(--text-color);
    }
    
    #description-2 > p {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        max-width: 40ch;
        justify-self: center;
        font-size: 1.2rem;
    }

    #description-2 > .label {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: space-around;
        font-size: 14px;

    }
    
    #description-2 > button {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        justify-self: center;
        max-width: 12rem;
    }


    #project-3 {
        grid-column: 1 / -1; /* Span all columns */
        grid-row: 7; /* Place it below hero */
        display: grid;
    }

    #project-3-img-box {
        grid-column: 1 / 7; /* Adjust grid column span */
        justify-self: left; /* Align image to the left */
        grid-template-columns: subgrid;
    }


    #description-3 {
        grid-column: 7 / 13;
        justify-self: center;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: 2rem 2rem 5rem 2rem 1rem 3rem;
        gap: 1rem;
        text-align: center;
    }
    
    #description-3 > h2 {
        font-size: 2.18rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: center;
        color: var(--text-color);
    }
    
    #description-3 > p {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        max-width: 40ch;
        justify-self: center;
        font-size: 1.2rem;
    }

    #description-3 > .label {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: space-around;
        font-size: 14px;

    }
    
    #description-3 > button {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        justify-self: center;
        max-width: 12rem;
    }

    #hero-textbox {
        grid-template-rows: 6rem auto auto 3rem 1fr;
    }
}